/* Headers */
h1 {
font-family:'Trebuchet MS';
font-size:25px;
color: #DC143C;
font-variant:small-caps;
padding-top:46px;
padding-bottom:8px;
padding-right:16px;
padding-left:16px;
}
h2 {
font-family:'Trebuchet MS';
font-size:19px;
color:#DC143C;
font-variant:small-caps;
padding-top:5px;
padding-bottom:5px;
padding-right:10px;
padding-left:10px;
}
/* Body */
html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}
 
body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
}
/* Background for index.html */
header {
      width: 100%;
      height: 100vh;
      background: url(https://i.ytimg.com/vi/pjodcdiOcrY/maxresdefault.jpg) no-repeat 50% 50%;
      background-size: cover;
}
/* Content */
.content {
      width: 80%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}
/* UK flag and title */
.flag {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: inherit;
}

.title {
        line-height: 60px;
        position: fixed;
        float: left;
        margin: 15px 200px;
        color: #fff;
        font-weight: bold;
        font-size: 40px;
        letter-spacing: inherit;
        font-family: 'Poppins', sans-serif;
    }
/* Navigation */
nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}
 
nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}
 
nav.black ul {
      background: #000;
}
 
nav ul li {
      display: inline-block;
      padding: 16px 40px;
}

nav ul li:hover {
    background: crimson;
}
 
nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}
/* Menu icon from font awesome css */
.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

/* Makes website responsive */
@media(max-width: 786px) {
 
      .flag {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }
 
      nav ul {
            max-height: 0px;
            background: #000;
      }
 
      nav.black ul {
            background: #000;
      }
 
      .showing {
            max-height: 34em;
      }
 
      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }
 
      .menu-icon {
            display: block;
      }
    .title {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }
    .brexit_title {
            top: 0;
    }
}

/* Twitter on index.html */
.twitter-timeline {
    margin: 15px;
    float: right;
    height: 20px;
    width: 20px;
}

/* CSS for brexit.html */
.brexit_title {
    float: inherit;
    text-align: center;
    font-size: 100px;
}
                        /* Background for brexit.html */
.brexit_header {
    width: 100%;
    height: 100vh;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/97/Palace_of_Westminster%2C_London_-_Feb_2007.jpg) no-repeat 50% 50%;
    background-size: cover;
}

                        /* Horizontal line on brexit.html */
hr#brexit {
    margin: auto;
    width: 80%;
    border: 1.5px solid #fff;
}
                        /* Text used as a countdown timer */
p#time {
    font-family: "Roboto Slab"; serif;
    color: white;
    word-spacing: 20px;
}
